@import "./globalColor.css";

.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: --var(appHeaderBG);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625rem + 2vmin);
  color: --var(textColorDark);
}

.App-link {
  color: --var(appLink);
}

.subTitle {
  color: --var(subTitle);
}
